<div id="d4"><h1>Знаменательные события</h1></div>
<div id="d5">
	Данный блог посвящен Памятным датам, которые произошли не только в истории нашей страны, но и по всему миру. Материалы этого раздела включают в себя разнообразную информацию о событиях, произошедших в этот день в мире как в далекие прошлые, так и в недавние годы. Среди них – события, оказавшие влияние на ход истории, памятные даты и интересные факты, а также биографии некоторых исторических личностей и наших современников, которые вместе составляют своеобразный портрет дня.
	<p>

	<h2>Последние комментарии:</h2>
	<div id = "lastfive">
	<% @cmm.each do |comment| %>
		<div style = "margin: 10px 0px;"><b><%= comment.commenter %></b> : <%= comment.body %></div>

	<% end %>	

     </div>
   



